In [1]:
import numpy as np
import pandas as pd
import sklearn
import seaborn as sns

In [2]:
car = pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\IBM DATASET\CAR DETAILS FOR PREDICTION.csv")

In [3]:
car.head()

,car_models,company_name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,Maruti,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,Maruti,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,Hyundai,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,Datsun,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,Honda,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [4]:
car.shape

(4340, 9)

In [5]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_models     4340 non-null   object
 1   company_name   4340 non-null   object
 2   year           4340 non-null   int64
 3   selling_price  4340 non-null   int64
 4   km_driven      4340 non-null   int64
 5   fuel           4340 non-null   object
 6   seller_type    4340 non-null   object
 7   transmission   4340 non-null   object
 8   owner          4340 non-null   object
dtypes: int64(3), object(6)
memory usage: 305.3+ KB

In [6]:
car['year'].unique()

array([2007, 2012, 2017, 2014, 2016, 2015, 2018, 2019, 2013, 2011, 2010,
       2009, 2006, 1996, 2005, 2008, 2004, 1998, 2003, 2002, 2020, 2000,
       1999, 2001, 1995, 1997, 1992], dtype=int64)

In [7]:
car['owner'].unique()

array(['First Owner', 'Second Owner', 'Fourth & Above Owner',
       'Third Owner', 'Test Drive Car'], dtype=object)

In [8]:
car.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [9]:
car.describe(include=['object'])

,car_models,company_name,fuel,seller_type,transmission,owner
count,4340,4340,4340,4340,4340,4340
unique,1491,29,5,3,2,5
top,Maruti Swift Dzire VDI,Maruti,Diesel,Individual,Manual,First Owner
freq,69,1280,2153,3244,3892,2832

In [10]:
car.isnull().any()

car_models       False
company_name     False
year             False
selling_price    False
km_driven        False
fuel             False
seller_type      False
transmission     False
owner            False
dtype: bool

In [11]:
car.isnull().sum()

car_models       0
company_name     0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

## Cleaning

In [12]:
backup=car.copy()

In [13]:
car['car_models']=car['car_models'].str.split(' ').str.slice(0,3).str.join(' ')

In [14]:
car.to_csv('Cleaned Car.csv')

In [15]:
car.head()

,car_models,company_name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,Maruti,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R,Maruti,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6,Hyundai,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T,Datsun,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX,Honda,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [16]:
x=car.drop(columns='selling_price')
y=car['selling_price']

In [17]:
x

,car_models,company_name,year,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,Maruti,2007,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R,Maruti,2007,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6,Hyundai,2012,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T,Datsun,2017,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX,Honda,2014,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna,Hyundai,2014,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna,Hyundai,2014,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC,Maruti,2009,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6,Hyundai,2016,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,Renault,2016,40000,Petrol,Individual,Manual,First Owner

In [18]:
y

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4335    409999
4336    409999
4337    110000
4338    865000
4339    225000
Name: selling_price, Length: 4340, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
X_Train, X_Test, Y_Train, Y_Test = train_test_split(x, y, test_size=0.2, random_state=0)

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [21]:
ohe=OneHotEncoder()
ohe.fit(x[['car_models','company_name','fuel','seller_type','transmission','owner']])

OneHotEncoder()

In [22]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['car_models','company_name','fuel','seller_type','transmission','owner']),
                                     remainder='passthrough')

In [23]:
lr=LinearRegression()

In [24]:
pipe=make_pipeline(column_trans,lr)

In [25]:
pipe.fit(X_Train,Y_Train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Ambassador CLASSIC 1500', 'Ambassador Classic 2000',
       'Ambassador Grand 1800', 'Audi A4 1.8', 'Audi A4 2.0',
       'Audi A4 3.0', 'Audi A4 30', 'Audi A4 35', 'Audi A4 New',
       'Audi A5 Sportback', 'Audi A6 2.0', 'Audi A6 2.7', 'Audi A6 2.8',
       'Audi A8 4.2', '...
                                                                            array(['CNG', 'Diesel', 'Electric', 'LPG', 'Petrol'], dtype=object),
                                                                            array(['Dealer', 'Individual', 'Trustmark Dealer'], dtype=object),
                                                                            array(['Automatic', 'Manual'], dtype=object),
                                                                            array(['First Owner', 'Fourth & Above Owner', 'Second Owner',
       'Test Drive Car', 'Third Owner'], dtype=object)]),
                                                  ['car_models', 'company_name',
                                                   'fuel', 'seller_type',
                                                   'transmission',
                                                   'owner'])])),
                ('linearregression', LinearRegression())])

In [26]:
y_pred=pipe.predict(X_Test)

In [27]:
r2_score(Y_Test,y_pred)

0.8949529491096558

In [28]:
import pickle

In [29]:
pickle.dump(pipe,open('CarLinearRegressionModel.pkl','wb'))

In [30]:
car.head

<bound method NDFrame.head of              car_models company_name  year  selling_price  km_driven    fuel  \
0         Maruti 800 AC       Maruti  2007          60000      70000  Petrol
1        Maruti Wagon R       Maruti  2007         135000      50000  Petrol
2     Hyundai Verna 1.6      Hyundai  2012         600000     100000  Diesel
3       Datsun RediGO T       Datsun  2017         250000      46000  Petrol
4        Honda Amaze VX        Honda  2014         450000     141000  Diesel
...                 ...          ...   ...            ...        ...     ...
4335  Hyundai i20 Magna      Hyundai  2014         409999      80000  Diesel
4336  Hyundai i20 Magna      Hyundai  2014         409999      80000  Diesel
4337      Maruti 800 AC       Maruti  2009         110000      83000  Petrol
4338  Hyundai Creta 1.6      Hyundai  2016         865000      90000  Diesel
4339   Renault KWID RXT      Renault  2016         225000      40000  Petrol

     seller_type transmission         owner
0     Individual       Manual   First Owner
1     Individual       Manual   First Owner
2     Individual       Manual   First Owner
3     Individual       Manual   First Owner
4     Individual       Manual  Second Owner
...          ...          ...           ...
4335  Individual       Manual  Second Owner
4336  Individual       Manual  Second Owner
4337  Individual       Manual  Second Owner
4338  Individual       Manual   First Owner
4339  Individual       Manual   First Owner

[4340 rows x 9 columns]>

In [31]:
car.head

<bound method NDFrame.head of              car_models company_name  year  selling_price  km_driven    fuel  \
0         Maruti 800 AC       Maruti  2007          60000      70000  Petrol
1        Maruti Wagon R       Maruti  2007         135000      50000  Petrol
2     Hyundai Verna 1.6      Hyundai  2012         600000     100000  Diesel
3       Datsun RediGO T       Datsun  2017         250000      46000  Petrol
4        Honda Amaze VX        Honda  2014         450000     141000  Diesel
...                 ...          ...   ...            ...        ...     ...
4335  Hyundai i20 Magna      Hyundai  2014         409999      80000  Diesel
4336  Hyundai i20 Magna      Hyundai  2014         409999      80000  Diesel
4337      Maruti 800 AC       Maruti  2009         110000      83000  Petrol
4338  Hyundai Creta 1.6      Hyundai  2016         865000      90000  Diesel
4339   Renault KWID RXT      Renault  2016         225000      40000  Petrol

     seller_type transmission         owner
0     Individual       Manual   First Owner
1     Individual       Manual   First Owner
2     Individual       Manual   First Owner
3     Individual       Manual   First Owner
4     Individual       Manual  Second Owner
...          ...          ...           ...
4335  Individual       Manual  Second Owner
4336  Individual       Manual  Second Owner
4337  Individual       Manual  Second Owner
4338  Individual       Manual   First Owner
4339  Individual       Manual   First Owner

[4340 rows x 9 columns]>